*{
    background-color: #060027;
    -webkit-text-fill-color: #00bebe;
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    margin: auto;
    padding: auto;
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 90px;
}

#aksmeysam{
    margin: auto;
    padding: auto;
    width: 200px;
    height: auto;
    display: flex;
    position: relative;
    top: 110px;
}

#btn{
    margin: auto;
    padding: auto;
    text-align: center;
    place-content: center;
    align-items: center;
    font-size: 18px;
    display: flex;
    position: relative;
    width: 150px;
    height: 50px;
    top: 150px;
    border-style: solid;
    border-color: #00bebe;
    border-width: 2.75px;
    border-radius: 7px;
    transition-duration: 0.4s;
}

#btn:hover{
    transform: scale(1.05);
    
}

#btn:active{
    transform: scale(1);
    background-color: #060027;
    -webkit-text-fill-color: #00bebe;
}

#text{
    margin: auto;
    padding: auto;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 170px;
}

#kolesh{
    margin: auto;
    padding: auto;
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 300px;
}
